.nav-container{
    width: 70%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    display: block;
    text-align: center;
}

.feed-container{
    width: 90%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
    max-width: 640px;
}

.navbar{
    border-block-end: 1px solid #dee2e6;
    background: #fff;
    padding: 1em 0px;
}

.navbar .logo img{
    border-radius: 50%;
    margin: 5px 15px;
}

.card-header{
    padding: 1rem 1rem 0;
    background: none;
    border-bottom: none;
}

.card-footer{
    background: none;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-add-post{
    margin: 30px 0 15px;
}

.create-post-area{
    border: 1px solid #dee2e6;
    min-height: 100px;
    border-radius: 3px;
    padding: 5px 7px;
}

.create-post-area:focus-visible{
    border: none;
    outline: 1px solid #e9ecef;
}

.img-circle{
    border-radius: 50%;
}



.user-name{
    margin: 0px 15px;
}

.card-post{
    margin-bottom: 15px;
}

.card-post .user-block{
    display: flex;
    justify-content: space-between;
}

.card-post .card-header .card-tools {
    float: right;
    margin-right: -0.625rem;
    margin-left: 10px;
    cursor: pointer;
}

.card-post .post-right-tools{
    display: flex;
    justify-content: space-between;
}

.img-fluid {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.post-control{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.post-control .post-control-left-wrapper{
    display: flex;
}

.post-control .post-control-item{
    margin-right: 10px;
    cursor: pointer;
    display:flex;
}

.post-control-item div{
    padding-left: 5px;
    padding-right: 15px;
}

.user-logo{
    width: 55px;
    border: 1px solid #6c757d;
    padding: 3px;
}

.like-icon{
    color: red;
}

.like-icon.not-like{
    color: #212529;
}


.comment__body {
    transition: 200ms ease-out;
    padding: 7px 0;
}

.comment__children {
    transition: border-left-color 200ms ease-out;
    border-left: solid 1px #e9ecef;
    padding-left: 18px;
    margin-left: 5px;
    position: relative;
    padding-top: 15px;
}

.comment-toggle-children {
    font-size: 13px;
    line-height: 0;
    z-index: 20;
    cursor: pointer;
    color: #e9ecef;
    position: absolute;
    padding: 6px 0 8px;
}

.comment__controls {
    font-size: 13px;
    color: #495057;
    line-height: 20px;
    min-height: 20px;
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    margin: 4px 0;
}

.comment__controls-inner {
    display: flex;
}

.comment__control {
    vertical-align: inherit;
    margin-right: 15px;
    text-transform: none;
    text-align: inherit;
    font-weight: 400;
}

.comment__control[data-type=create]:after {
    content: "ответить";
}

.comment-body .img-circle{
    width: 50px;
}

.card-footer.card-comments{
    display: block;
}

@media (min-width: 300px) {
    .feed-container, .container-sm {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .feed-container, .container-sm, .container-md {
        width: 90%;
    }
    .nav-container{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .feed-container, .container-sm, .container-md, .container-lg {
        width: 70%;
    }
}

