.MyButton{
    max-width: 200px;
    border: 1px solid #dee2e6;
    color: #6c757d;
    padding: 5px 15px;
    border-radius: 3px;
    background: #fff;
}

.MyButton:hover{
    background: #dee2e6;
}

